<!-- ESTA PLANTILLA ITERA UN ARRAY DE OBJETOS USUARIO -->
{{#.}}
<!-- BANNER Y FOTO DE PERFIL -->
<div id="perfil" class="row profiles_banner">
    <div class="profile-info-block">
        <div class="profile-image" id="fotoPerfil" style='background-image: url({{fotoPerfil}})'></div>
        <div class="profile-name">
            <h1>
                <a href="#" title="{{nombre}}" alt="Foto de perfil de {{nombre}} {{apellidos}}" id="nombre">{{nombre}} {{apellidos}}</a>
            </h1>
        </div>
    </div>
</div>
<div id="cont">
    <div>
        <div id="accordion" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#c1" role="button" aria-expanded="true" aria-controls="collapseOne">
                            Descripción
                        </a>
                    </h5>
                </div>
                <div id="c1" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" id="desc">
                        {{descripcion}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#c2" role="button" aria-expanded="false" aria-controls="collapseTwo">
                            Habilidades Principales
                        </a>
                    </h5>
                </div>
                <div id="c2" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body mm" id="habP">
                        <ul>
                            <li>
                                <a class="b" href="#">Programación</a>
                            </li>
                            <li>
                                <a class="b" href="#">Diseño Web</a>
                            </li>
                            <li>
                                <a class="b" href="#">Diseño Gráfico</a>
                            </li>
                            <li>
                                <a class="b" href="#">HTML</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#c3" role="button" aria-expanded="false" aria-controls="collapseThree">
                            Otras Habilidades
                        </a>
                    </h5>
                </div>
                <div id="c3" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body" id="hab">
                        {{habilidades}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#c4" role="button" aria-expanded="false" aria-controls="collapseThree">
                            Portafolio
                        </a>
                    </h5>
                </div>
                <div id="c4" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body" id="por">
                        {{portafolio}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#c5" role="button" aria-expanded="false" aria-controls="collapseThree">
                            Experiencia
                        </a>
                    </h5>
                </div>
                <div id="c5" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body" id="exp">
                        {{experiencia}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#c6" role="button" aria-expanded="false" aria-controls="collapseThree">
                            Formación
                        </a>
                    </h5>
                </div>
                <div id="c6" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body" id="for">
                        {{formacion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/.}}